---
layout: default
title: Resources
permalink: /resources.html
---
<div class = "resourcespage">

  <div class = "assets">
    <!-- <button id="reset">Clear Selection</button> -->
    <div id="galleryHeader"></div>
      <div class = "row" id="gallery">
  	    <!-- <form action=""> -->
          <h2>Improve your recycling IQ with these reference materials.</h3>

    		  {% for info in site.data.work %}
            {% if info.knowledge %}
              <div class = "asset">
                <h3>{{ info.title }}</h3>
                <img src = "{{ info.imageurl }}" />
                <!-- <p>{{ info.description }}</p> -->
                </br>
              </div>
              {% endif %}
        	{% endfor %}
        </div>
      <!-- </form> -->
      <div class = "row" id="gallery">
        <h2>How about some new ideas for your setup?</h3>

        {% for info in site.data.work %}
          {% if info.ability %}
            <div class = "asset">
              <h3>{{ info.title }}</h3>
              <img src = "{{ info.imageurl }}" />
              <!-- <p>{{ info.description }}</p> -->
              <!-- <input type="checkbox" name="asset" value="{{ info.title }}"> -->
              </br>
            </div>
            {% endif %}
        {% endfor %}
      </div>

      <div class = "row" id="gallery">
        <h2>What are you interested in?</h3>

        {% for info in site.data.work %}
          {% if info.motivation %}
            <div class = "asset">
              <h3>{{ info.title }}</h3>
              <img src = "{{ info.imageurl }}" />
              <!-- <p>{{ info.description }}</p> -->
              <!-- <input type="checkbox" name="asset" value="{{ info.title }}"> -->
              </br>
            </div>
            {% endif %}
        {% endfor %}
      </div>
  </div>

  <div id="form">
      <div>
          <input id="email" placeholder="Email Address" />
      </div>
      <div>
          <input id="comment" placeholder="Note"/>
      </div>
      <p>
        <input type="checkbox" id="cbox1" value="email_optin">
        <label for="cbox1">Sign me up for the city's official recycling monthly e-Newsletter.</label>
      </p>

      <button id="create">Send</button>
  </div>


<!-- Code below sourced from here. http://jsfiddle.net/9z3gL/ -->
<script>
$(function () {
    $("#gallery > div").click(function () {
        $(this).toggleClass("selected");
    });
    $("#reset").click(function () {
        $("input").val("");
        $("div.selected").removeClass("selected");
    });
    $("#create").click(function () {
        // var txt = "Have all desired images been selected?";
        var conf = confirm(txt);
        if (!conf) return false;

        var eml = $("#email").val();
        var desc = $("#comment").val();
        if (!albName) {
            alert("email required");
            return false;
        }

        if ($("img.selected").length == 0) {
            alert("Select at least 1 image");
            return false;
        }

        var $title = $("<h3 />").text(eml);
        var $title2 = $("<h4 />").text(desc);
        $("#galleryHeader").append($title, $title2).show();
        $("#form").hide();
        $("div").off("click");
        $("div:not(.selected)").hide();
        $("div.selected").removeClass("selected");
    });
})
</script>

</div>
